<h1>Listing destinations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image url</th>
    <th></th>

  </tr>

<%= render @destinations %>


</table>

<br />

<%= link_to 'New destination', new_destination_path %>
