<h1>Listing attractions</h1>

<table>
  <tr>

    <th></th>
    <th></th>
    <th></th>
  </tr>


<%= render @attractions %>


</table>

<br />

<center><h3>
<%= link_to 'New attraction', new_attraction_path %></h3>
</center>