<h1>Listing attractions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Image url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<%= render @attractions %>


</table>

<br />

<%= link_to 'New attraction', new_attraction_path %>
